@keyframes icon-rotate-down{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}

@keyframes icon-rotate-up{
    100%{
        transform: rotate(0deg);
    }
}

@keyframes fade-slide-up {
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade-slide-left {
    0%{
        opacity: 0;
        transform: translateX(50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade-slide-right {
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade-slide-down {
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade-slide-away-up {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(50%);
    }
}

@keyframes fade-slide-away-right {
    0%{
        opacity: 1;
        transform: translateX(0%);
    }
    100%{
        opacity: 0;
        transform: translateX(50%);
    }
}

@keyframes fade-slide-away-left {
    0%{
        opacity: 1;
        transform: translateX(0%);
    }
    100%{
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes fade-slide-away-down {
    0%{
        opacity: 1;
        transform: translateY(0%);
    }
    100%{
        opacity: 0;
        transform: translateY(-50%);
    }
}