body{
    --background-col:242, 242, 242;
    --background-col2:197, 197, 197;
    --text-color:26, 26, 26;
}

body.dark-mode{
    --background-col:17, 17, 17;
    --background-col2:48, 48, 48;
    --text-color:226, 226, 226;
}

body.ryo{
    --accent1:100, 100, 250;
}

body.ryo.dark-mode{
    --accent1:17, 17, 44;
}

body.nijika{
    --accent1:251, 255, 0;
}

body.nijika.dark-mode{
    --accent1:89, 90, 0;
}

body.kita{
    --accent1: 224, 5, 5;
}

body.kita.dark-mode{
    --accent1: 83, 0, 0;
}

body.bocchi{
    --accent1: 230, 44, 199;
}
body.bocchi.dark-mode{
    --accent1: 82, 15, 71;
}
body.tanjiro{
    --accent1:255, 40, 25;
}

body.tanjiro.dark-mode{
    --accent1:87, 22, 6;
}

body.zenitsu{
    --accent1:248, 244, 6;
}

body.zenitsu.dark-mode{
    --accent1:77, 75, 4;
}

body.inosuke{
    --accent1: 10, 10, 151;
}

body.inosuke.dark-mode{
    --accent1: 2, 2, 77;
}

body.kanao{
    --accent1: 155, 12, 160;
}

body.kanao.dark-mode{
    --accent1: 91, 7, 94;
}

body.kyojuro{
    --accent1: 255, 102, 0;
}

body.kyojuro.dark-mode{
    --accent1: 78, 35, 7;
}