body{
    --background-col:242, 242, 242;
    --background-col2:231, 231, 231;
    --accent1:100, 100, 250;
    --text-color:26, 26, 26;
}

body.dark-mode{
    --accent1:17, 17, 44;
    --background-col:17, 17, 17;
    --background-col2:20, 20, 20;
    --text-color:226, 226, 226;
}