body{
    --background-col:242, 242, 242;
    --background-col2:231, 231, 231;
    --text-color:26, 26, 26;
}

body.dark-mode{
    --background-col:17, 17, 17;
    --background-col2:20, 20, 20;
    --text-color:226, 226, 226;
}

body.ryo{
    --accent1:100, 100, 250;
}

body.ryo.dark-mode{
    --accent1:17, 17, 44;
}

body.nijika{
    --accent1:251, 255, 0;
}

body.nijika.dark-mode{
    --accent1:89, 90, 0;
}