*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



body, html{
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

body{
    overflow: hidden;
    background-color: rgb(var(--background-col));
    color: rgb(var(--text-color));
}

a{
    text-decoration: none;
    color: rgb(var(--text-color));
}

button, .btn{
    cursor: pointer;
    border: none;
    border-radius: 4px;
}