.back-design{
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    >*{
        width: 100%;
        height: 100%;
        transition: all 0.4s;
    }
    .main-accent{
        position: fixed;
        z-index: 1;
        background: rgb(var(--accent1));
    }
    .sub-accent{
        position: fixed;
        z-index: 2;
        background: rgb(var(--background-col2));
        clip-path: polygon(100% 100%, 100% 0, 75% 0, 30% 100%);
    }
}

.char-img{
    width: 100%;
    height: 100%;
    max-height: 1000px;
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    
    img{
        animation: fade-slide-up 1s ease-in-out;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit:cover;
    }
}

.hero-section{
    position: relative;
    display: flex;
    align-items: center;
    gap: 30%;
    padding: 0 3rem;
    height:100dvh;
}

.hero-left{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    animation: fade-slide-right 1s ease-in-out;
    >*{
        animation: fade-slide-right 1s ease-in-out;
    }

    >.anime-name{
        text-transform: uppercase;
        font-size: 4rem;
    }

    >.watch-btn{
        display:flex;
        align-items:center;
        gap:0.5rem;
        text-transform: uppercase;
        height: 2.6rem;
        width:fit-content;
        padding: 0 1rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        border: 1px solid rgb(var(--text-color));
        color: rgb(var(--text-color));
        margin-left: 1rem;
        background-color: transparent;
        transition: all 0.2s;
        &:hover{
            background-color: rgb(var(--text-color));
            color: rgb(var(--background-col));
            .play-icon{
                fill: rgb(var(--background-col));
            }
        }

        &:active{
            background-color: rgb(var(--text-color));
            color: rgb(var(--background-col2));
            .play-icon{
                fill: rgb(var(--background-col));
            }
        }

        .play-icon{
            fill: rgb(var(--text-color));
        }
    }
}

.hero-right{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 60%;
    animation: fade-slide-left 1s ease-in-out;
    >*{
        animation: fade-slide-left 1s ease-in-out;
    }

    .char-name{
        font-style: italic;
        text-transform: uppercase;
        font-size: 3rem;
        position: absolute;
        top: 10%;
        right: 5%;
        opacity: 0;
        animation: fade-slide-left 1s ease-in-out forwards;
        animation-delay: 2s;
    }

    >h2{
        text-transform: uppercase;
    }

    .char-desc{
    }
}

@media (max-width: 870px) {
    .char-img{
        z-index: -1;
        filter: saturate(80%);
    }

    .hero-section{
        gap: 1rem;
        
    }

    .hero-left, .hero-right{
        width: fit-content;
        padding: 1.2rem;
        background-color: rgb(var(--background-col2), 0.4);
        border-radius: 2rem;
    }

    .hero-left{
        gap: 1rem;
        margin-top: 50%;
        >.anime-name{
            width: 100%;
            font-size: 100%;
        }

        >.watch-btn{
            font-size: 75%;
            margin-left: 0;
        }
    }

    .hero-right{
        margin-top: -10%;
        >h2{
            font-size: 100%;
        }

        >.char-name{
            top: 15%;
            right: 5%;
            font-size: 100%;
        }
        >.char-desc{
            font-size: 70%;
        }
    }

    
}