nav {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;

    >.menu {
        >.menu-icon{
            svg{
                    fill: rgb(var(--text-color));
                }
        }
        >.dim-screen{
            display: none;
        }
        >.nav-options {
            height: 100%;
            list-style: none;

            >.close-menu{
                display: none;
                z-index: 10;
                >.close-menu-button{
                background-color: rgb(var(--background-col));
                pointer-events: none;
                z-index: 5;
                svg{
                    fill: rgb(var(--text-color));
                }
            }
            }
            

            >.nav-option {
                cursor: pointer;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .drop-down-icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    pointer-events: none;
                    >svg{
                        fill: rgb(var(--text-color));
                        transition: all 0.2s;
                    }
                    
                }


                >.nav-link {
                    animation: fade-slide-down 1s ease-in-out;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                >.select-list {
                    display: none;
                    flex-direction: column;
                    list-style: none;
                    height: fit-content;
                    max-height: 50dvh;
                    scroll-behavior: auto;
                    text-wrap-mode: nowrap;

                    >.select-list-item {
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        height: 3rem;

                        &:hover {
                            >.select-link {
                                background: rgb(var(--background-col2), 0.8);
                            }
                        }

                        &:last-of-type {
                            border: none;
                        }

                        >.select-link {
                            padding: 0 1rem 0 0.2rem;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                        }
                    }
                }

            }
        }
    }
}



.toggle-mode {
    background: transparent;
    border: 1px solid rgb(var(--text-color));
    fill: rgb(var(--text-color));
    height: 2rem;
    width: 2rem;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: rgb(var(--text-color));

        svg {
            filter: invert();
        }
    }
}

@media (min-width:870.5px) {
    nav {
        >.menu {
            width: fit-content;
            height: 100%;
            display: flex;
            align-items: center;

            >.menu-icon {
                display: none;
            }

            >.nav-options {
                height: 100%;
                display: flex;
                gap: 1rem;

                >.nav-option {
                    position: relative;
                    height: 100%;
                    width: 7rem;

                    >.nav-link {
                        text-align: center;
                        position: relative;
                    }

                    >.select-list {
                        position: absolute;
                        top: 3.1rem;
                        left: 0.3rem;
                        width: fit-content;
                        height: fit-content;
                        background: rgb(var(--background-col), 0.5);

                        >.select-list-item {
                            height: 3rem;
                            border-bottom: 1px solid rgb(var(--text-color));
                        }
                    }

                    &:hover {
                        background: rgb(var(--background-col), 0.04);

                        .nav-link::after {
                            width: 100%;
                        }


                    }
                }
            }
        }
    }

    .nav-link::after {
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        right: 0;
        content: "";
        width: 0;
        height: 0.2rem;
        background: rgb(var(--text-color));
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width:870.5px) {
    nav {
        >.menu {
            height: 100%;
            position: relative;

            >.menu-icon {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3rem;
                background: transparent;
                border-radius: 0;

                svg {
                    color: rgb(var(--text-color));
                }

                &:hover {
                    background: rgb(var(--background-col2), 0.09);
                }
            }

            >.dim-screen{
                top:0;
                left:0;                
                width: 100vw;
                height: 100dvh;
                background-color: rgba(0, 0, 0, 0.205);
                position: absolute;
                z-index: -1;
            }
            >.nav-options{
                position: absolute;
                display: none;
                flex-direction: column;
                justify-content: flex-start;
                top: 0;
                left: 0;
                width: 50vw;
                height: 100dvh;
                background: rgb(var(--background-col));
                z-index: 10;

                >.close-menu{
                    >.close-menu-button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2rem;
                        height: 2rem;
                        position: absolute;
                        top: 1rem;
                        right: -3rem;
                    }
                }
                
                
                >.nav-option {
                    height: fit-content;
                    width: 100%;
                    min-height: 2.5rem;
                    height: fit-content;
                    font-size: 100%;
                    flex-direction: column;
                    
                    
                    &:first-of-type{
                        border-top: none;
                        border-bottom: 1px solid rgb(var(--text-color));
                    }
                    &:last-of-type{
                        border-bottom: 1px solid rgb(var(--text-color));
                        border-top: 1px solid rgb(var(--text-color));
                    }
                    &:hover {
                        background: rgb(var(--background-col), 0.04);
                    }

                    >.nav-link {
                        height: 3rem;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 1rem;
                        border-bottom: 1px solid rgb(var(--text-color), 0.4);
                        
                        
                    }
                    .select-link{
                        
                    }

                    >.select-list {
                        position: static;
                        width: 100%;
                    }
                }
            }
        }
    }
}